@import './variables';
$transition-time: .3s;

.accordion {
    border-bottom: 1px solid $border-red;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    margin: 4px 0;
    padding-bottom: 4px;

    & * {
        transition: all $transition-time ease-in-out;
    }

    &:first-child {
        border-top: 1px solid $border-red;
        padding-top: 4px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .accordion-box {
        border-radius: 8px;
        padding: 16px 19px 16px 14px;
        background: $light-red;

    }

    &.collapsed {
        // margin: 0;

        .accordion-box {
            border-radius: 0;
            background: transparent;
            margin-bottom: 0;
        }

        .answer {
            opacity: 0;
            visibility: hidden;
            margin: 0;
        }

        .strip {
            padding-bottom: 0;
        }

        .plus {
            transform: rotate(0deg);
            opacity: 1;
        }
    }

    .see-more {
        width: 11px;
        height: 11px;

        @include tablet() {
            width: 13px;
            height: 13px;
        }
    }

    .plus {
        transform: rotate(90deg);
        opacity: 0;
        transform-origin: center;
    }

    .strip {
        display: flex;
        justify-content: space-between;
        padding-bottom: 17px;

        @include tablet-large() {
            padding-bottom: 27px;
        }
    }

    .question {
        color: $hard-gray;
        max-width: 740px;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
    }

    .answer-wrapper {}

    .answer {
        color: $regular-gray;
        max-width: 740px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        height: auto;
        opacity: 1;
        visibility: visible;
        overflow: hidden;
        max-height: 999px;
    }
}