@import "./variables";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  line-height: 1;
  font-family: "Assistant", sans-serif;
  // font-display: swap;
  // font-display: fallback;
}

body {
  line-height: 1;
  font-family: "Assistant", sans-serif;
  // font-display: swap;

  * {
    box-sizing: border-box;
    // font-display: swap;
  }
}

footer,
header,
section {
  display: block;
}

nav ul {
  list-style: none;
}

b {
  font-weight: 700;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  background: transparent;
}

input,
select {
  vertical-align: middle;
}

.page-wrapper {
  margin: 50px var(--side-space) 30px;

  @include tablet-l {
    margin: 74px var(--side-space) 76px;
  }

  @include desktop {
    max-width: 1190px;
  }
}

.header {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 22px;
  text-align: center;

  @include tablet-l() {
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 59px;
  }
}

.sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #607e82;
  max-width: 784px;
  margin: 0 auto;

  @include tablet-l() {
    font-size: 20px;
  }
}

p {
  font-size: 16px;
  line-height: 29px;
  color: #607e82;

  &.l {
    font-size: 18px;
    @include tablet-l {
      font-size: 20px;
    }
  }

  &.center {
    text-align: center;
  }
}

.red {
  color: var(--red);
}

.red-clickable {
  color: var(--red);
  transition: color 0.15s;
  cursor: pointer;

  &:hover {
    color: var(--dark-red);
  }
}

.text-grid {
  max-width: 784px;
  margin: 0 auto;
}

.heb {
  direction: rtl;
}

.eng {
  direction: ltr;
}

.fill-page {
  position: absolute;
  inset: 0;
  top: 70px;

  @include desktop {
    top: 87px;
  }

  @include tablet-l {
    top: 77px;
  }

  & ~ footer {
    position: absolute;
    bottom: 0;
  }
}

.fixed-whatsapp {
  bottom: 10px;
  position: fixed;
  right: 10px;
  width: 66px;
  height: 66px;
  z-index: 100;
}

.desktop-fill-page {
  @include tablet-l {
    position: absolute;
    inset: 0;
    top: 77px;
  }

  @include desktop {
    position: absolute;
    inset: 0;
    top: 87px;

    & ~ footer {
      position: absolute;
      bottom: 0;
    }
  }
}
