@import "./variables";
@import "../components/faq/faq";

.main-banner {
  color: white;
  position: relative;

  .banner {
    width: 100%;
    height: 433px;
    object-fit: cover;

    @include tablet-large() {
      height: 590px;
    }
  }

  .inner-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);

    @include tablet-large() {
      align-items: center;
      bottom: 50%;
      transform: translate(-50%, 50%);
    }
  }

  h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

    @include tablet-large() {
      font-size: 45px;
      line-height: 49px;
    }
  }

  .main-sub-title {
    margin: 10px 0 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    @include tablet-large() {
      margin: 12px 0 32px;
      font-size: 18px;
      line-height: 24px;

      br {
        display: none;
      }
    }
  }

  .ctas {
    display: flex;
    gap: 12px;

    a {
      width: 150px;
      height: 50px;
      border: 2px solid #ffffff;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.08em;
      @include flex-center;

      @include tablet-large() {
        height: 54px;
      }
    }
  }

  .volunteer {
    transition: all 0.2s;
    border: 2px solid rgba(255, 255, 255, 0.6) !important;

    &:hover {
      background: white;
      color: black;
    }
  }
}

.about {
  text-align: center;
  margin: 50px 0;

  @include tablet-large {
    margin: 80px 0 -234px;
  }

  @include desktop() {
    margin-bottom: -278px;
  }

  .small-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.08em;
    color: var(--red);

    @include tablet-large() {
      font-size: 16px;
      line-height: 21px;
    }
  }

  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 37px;
    color: var(--hard-gray);
    margin: 12px 0 22px;

    @include tablet-large() {
      margin: 22px 0 30px;
      font-size: 32px;
      line-height: 42px;
    }
  }

  .sub-title {
    margin-bottom: 40px;
    padding: 0 var(--side-space);

    br {
      display: none;
    }

    @include tablet-large() {
      margin-bottom: 56px;
      font-size: 20px;
      padding: 0;

      br {
        display: block;
      }
    }
  }

  .ctas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    color: white;
    padding: 0 var(--side-space);

    @include tablet-large() {
      gap: 30px;
      padding: 0;
      flex-direction: row;
    }

    .cta {
      background: lightblue;
      width: 100%;
      height: 257px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      position: relative;

      @include tablet-large() {
        width: 478px;
        height: 440px;
      }

      @include desktop() {
        width: 580px;
        height: 532px;
      }

      &:hover {
        .cta-img {
          // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
          // filter: drop-shadow(2px 4px 6px black);
          transform: scale(1.02);
          // filter: brightness(0.8);
        }

        .more-info {
          background: white;
          color: black;
        }
      }
    }

    .cta-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.2s;
    }

    .text {
      position: absolute;
      top: 0;
      z-index: 2;

      @include tablet-large() {
        top: unset;
      }
    }

    .title {
      margin: 113px 0 23px;
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;

      @include tablet-large() {
        font-size: 32px;
        line-height: 42px;
      }
    }

    .more-info {
      width: 110px;
      height: 50px;
      border: 2px solid white;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      transition: all 0.2s;
      // will-change: background, color;
      letter-spacing: 0.08em;
      margin: auto;
      @include flex-center;

      @include tablet-large() {
        height: 54px;
      }
    }
  }
}
