@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-l {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin desktop-l {
  @media (min-width: 1440px) {
    @content;
  }
}

:root {
  // colors
  --opacity-red: rgba(255, 18, 28, 0.9);
  --opacity-white: rgba(255, 255, 255, 0.9);
  --red: #ff121c;
  --dark-red: #e9111b;
  --light-red: #ffe7e8;
  --border-red: #ffe1e2;
  --hard-gray: #0d1f2d;
  --regular-gray: #607e82;
  --light-gray: #bbcdcf;
  --white: #ffffff;
  --black: #000000;

  --side-space: 15px;
  --section-space: 45px;

  @include tablet() {
    --side-space: 20px;
    --section-space: 76px;
  }

  @include tablet-l() {
    --side-space: 28px;
  }

  @include desktop() {
    --side-space: auto;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// sizes display
.m-to-d-l {
  @include tablet-l() {
    display: none;
  }
}

.d-l-grid {
  display: none;

  @include tablet-l() {
    display: grid;
  }
}

.red-button {
  height: 54px;
  background-color: var(--red);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  width: 180px;

  &:hover {
    background-color: var(--dark-red);
  }

  &.regular {
    width: 218px;
  }
}
