// screen sizes
// $mobile: '375px';
$mobile: '767px';
$tablet: '768px';
$tablet-large: '1024px';
$desktop: '1280px';
$desktop-large: '1440px';

@mixin mobile {
    @media(max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media(min-width: $tablet) {
        @content;
    }
}

@mixin tablet-large {
    @media(min-width: $tablet-large) {
        @content;
    }
}

@mixin desktop {
    @media(min-width: $desktop) {
        @content;
    }
}

@mixin desktop-large {
    @media(min-width: $desktop-large) {
        @content;
    }
}

:root {
    --side-space: 15px;

    @include tablet() {
        --side-space: 20px;
    }

    @include tablet-large() {
        --side-space: 28px;
    }

    @include desktop() {
        --side-space: auto;
    }
}

// spaces
$side-space: var(--side-space);

// colors
$red: #FF121C;
$dark-red: #E9111B;
$light-red: #FFE7E8;
$border-red: #FFE1E2;
$hard-gray:#0D1F2D;
$regular-gray:#607E82;
$light-gray: #BBCDCF;
$white: #ffffff;
$black: #000000;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// sizes display
.m-to-d-l {
    @include tablet-large() {
        display: none;
    }
}

.d-l-grid {
    display: none;

    @include tablet-large() {
        display: grid;
    }
}