@import './variables';

.faq {
    margin: 0 auto 75px;
    max-width: 986px;

    h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        color: $hard-gray;
        text-align: center;
        margin-bottom: 56px;
    }
}