footer {
  height: 421px;
  width: 100%;
  background: #0D1F2D;
  font-size: 14px;
  line-height: 18px;
  padding: 50px 32px 28px;
}

@media (min-width: 1024px) {
  footer {
    padding: 56px 15px 34px;
    height: 275px;
  }
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

@media (min-width: 1024px) {
  footer .wrapper {
    max-width: 1302px;
    margin: 0 auto;
  }
}

footer .group-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 44px;
}

@media (min-width: 1024px) {
  footer .group-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 76px;
  }
}

footer .group-wrapper .group {
  color: #FFFFFF;
}

footer .group-wrapper .group:nth-child(even) {
  text-align: end;
}

footer .group-wrapper .group * {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 1024px) {
  footer .group-wrapper .group:nth-child(even) {
    text-align: start;
  }
  footer .group-wrapper .group:last-child {
    text-align: end;
  }
}

footer .group-wrapper .title {
  font-weight: 700;
  margin-bottom: 10px;
}

footer .group-wrapper a {
  display: block;
  margin-top: 6px;
  font-weight: 400;
}

footer .group-wrapper a:first-child {
  margin-top: 0;
}

footer .group-wrapper .group:last-child a {
  margin-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}

footer .group-wrapper .group:last-child a:first-child {
  margin-top: 1px;
}

@media (min-width: 1024px) {
  footer .group-wrapper .group:last-child {
    margin-right: auto;
  }
}

footer .protects {
  color: #BBCDCF;
  text-align: center;
  margin-top: auto;
}

@media (min-width: 1024px) {
  footer .protects {
    text-align: start;
  }
  footer .protects br {
    display: none;
  }
}
