.large-banner {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-size: cover;
  height: 338px;

  @include desktop {
    height: 438px;
    gap: 30px;
  }
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;

  @include desktop {
    font-size: 32px;
    line-height: 42px;
  }
}

.text {
  font-size: 20px;
  line-height: 150%;
  max-width: 784px;

  @include desktop {
    font-size: 16px;
  }
}
