:root {
  --opacity-red: rgba(255, 18, 28, 0.9);
  --opacity-white: rgba(255, 255, 255, 0.9);
  --red: #ff121c;
  --dark-red: #e9111b;
  --light-red: #ffe7e8;
  --border-red: #ffe1e2;
  --hard-gray: #0d1f2d;
  --regular-gray: #607e82;
  --light-gray: #bbcdcf;
  --white: #ffffff;
  --black: #000000;
  --side-space: 15px;
  --section-space: 45px;
}
@media (min-width: 768px) {
  :root {
    --side-space: 20px;
    --section-space: 76px;
  }
}
@media (min-width: 1280px) {
  :root {
    --side-space: 28px;
  }
}
@media (min-width: 1280px) {
  :root {
    --side-space: auto;
  }
}

@media (min-width: 1280px) {
  .m-to-d-l {
    display: none;
  }
}

.d-l-grid {
  display: none;
}
@media (min-width: 1280px) {
  .d-l-grid {
    display: grid;
  }
}

.red-button {
  height: 54px;
  background-color: var(--red);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  width: 180px;
}
.red-button:hover {
  background-color: var(--dark-red);
}
.red-button.regular {
  width: 218px;
}

:root {
  --opacity-red: rgba(255, 18, 28, 0.9);
  --opacity-white: rgba(255, 255, 255, 0.9);
  --red: #ff121c;
  --dark-red: #e9111b;
  --light-red: #ffe7e8;
  --border-red: #ffe1e2;
  --hard-gray: #0d1f2d;
  --regular-gray: #607e82;
  --light-gray: #bbcdcf;
  --white: #ffffff;
  --black: #000000;
  --side-space: 15px;
  --section-space: 45px;
}
@media (min-width: 768px) {
  :root {
    --side-space: 20px;
    --section-space: 76px;
  }
}
@media (min-width: 1280px) {
  :root {
    --side-space: 28px;
  }
}
@media (min-width: 1280px) {
  :root {
    --side-space: auto;
  }
}

@media (min-width: 1280px) {
  .m-to-d-l {
    display: none;
  }
}

.d-l-grid {
  display: none;
}
@media (min-width: 1280px) {
  .d-l-grid {
    display: grid;
  }
}

.red-button {
  height: 54px;
  background-color: var(--red);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  width: 180px;
}
.red-button:hover {
  background-color: var(--dark-red);
}
.red-button.regular {
  width: 218px;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  line-height: 1;
  font-family: "Assistant", sans-serif;
}

body {
  line-height: 1;
  font-family: "Assistant", sans-serif;
}
body * {
  box-sizing: border-box;
}

footer,
header,
section {
  display: block;
}

nav ul {
  list-style: none;
}

b {
  font-weight: 700;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  background: transparent;
}

input,
select {
  vertical-align: middle;
}

.page-wrapper {
  margin: 50px var(--side-space) 30px;
}
@media (min-width: 1280px) {
  .page-wrapper {
    margin: 74px var(--side-space) 76px;
  }
}
@media (min-width: 1280px) {
  .page-wrapper {
    max-width: 1190px;
  }
}

.header {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 22px;
  text-align: center;
}
@media (min-width: 1280px) {
  .header {
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 59px;
  }
}

.sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #607e82;
  max-width: 784px;
  margin: 0 auto;
}
@media (min-width: 1280px) {
  .sub-title {
    font-size: 20px;
  }
}

p {
  font-size: 16px;
  line-height: 29px;
  color: #607e82;
}
p.l {
  font-size: 18px;
}
@media (min-width: 1280px) {
  p.l {
    font-size: 20px;
  }
}
p.center {
  text-align: center;
}

.red {
  color: var(--red);
}

.red-clickable {
  color: var(--red);
  transition: color 0.15s;
  cursor: pointer;
}
.red-clickable:hover {
  color: var(--dark-red);
}

.text-grid {
  max-width: 784px;
  margin: 0 auto;
}

.heb {
  direction: rtl;
}

.eng {
  direction: ltr;
}

.fill-page {
  position: absolute;
  inset: 0;
  top: 70px;
}
@media (min-width: 1280px) {
  .fill-page {
    top: 87px;
  }
}
@media (min-width: 1280px) {
  .fill-page {
    top: 77px;
  }
}
.fill-page ~ footer {
  position: absolute;
  bottom: 0;
}

.fixed-whatsapp {
  bottom: 10px;
  position: fixed;
  right: 10px;
  width: 66px;
  height: 66px;
  z-index: 100;
}

@media (min-width: 1280px) {
  .desktop-fill-page {
    position: absolute;
    inset: 0;
    top: 77px;
  }
}
@media (min-width: 1280px) {
  .desktop-fill-page {
    position: absolute;
    inset: 0;
    top: 87px;
  }
  .desktop-fill-page ~ footer {
    position: absolute;
    bottom: 0;
  }
}

:root {
  --opacity-red: rgba(255, 18, 28, 0.9);
  --opacity-white: rgba(255, 255, 255, 0.9);
  --red: #ff121c;
  --dark-red: #e9111b;
  --light-red: #ffe7e8;
  --border-red: #ffe1e2;
  --hard-gray: #0d1f2d;
  --regular-gray: #607e82;
  --light-gray: #bbcdcf;
  --white: #ffffff;
  --black: #000000;
  --side-space: 15px;
  --section-space: 45px;
}
@media (min-width: 768px) {
  :root {
    --side-space: 20px;
    --section-space: 76px;
  }
}
@media (min-width: 1280px) {
  :root {
    --side-space: 28px;
  }
}
@media (min-width: 1280px) {
  :root {
    --side-space: auto;
  }
}

@media (min-width: 1280px) {
  .m-to-d-l {
    display: none;
  }
}

.d-l-grid {
  display: none;
}
@media (min-width: 1280px) {
  .d-l-grid {
    display: grid;
  }
}

.red-button {
  height: 54px;
  background-color: var(--red);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  width: 180px;
}
.red-button:hover {
  background-color: var(--dark-red);
}
.red-button.regular {
  width: 218px;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--regular-gray);
  background: rgba(255, 255, 255, 0.9490196078) !important;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  filter: drop-shadow(0px 4px 10px rgba(13, 31, 45, 0.08));
}
@media (min-width: 1280px) {
  nav {
    height: 77px;
  }
}
@media (min-width: 1280px) {
  nav {
    height: 87px;
  }
}
nav .left,
nav .right {
  display: flex;
  height: 100%;
  align-items: center;
}
nav .burgerBar {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 22px;
  margin-right: 26px;
  transition: all 0.15s 0.2s;
}
nav .burgerBar .line {
  width: 21px;
  height: 2px;
  background-color: #0d1f2d;
}
@media (min-width: 1280px) {
  nav .burgerBar {
    display: none;
  }
}
nav.open .links {
  right: 0;
  z-index: 11;
  width: 285px;
  pointer-events: all;
}
nav.open .backgroundSideNav {
  z-index: 10;
}
nav.open .links,
nav.open .backgroundSideNav {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s 0.2s;
  z-index: 111;
}
nav.open .burgerBar {
  gap: 5px;
  transition: all 0.15s;
}
nav .backgroundSideNav {
  position: fixed;
  inset: 0;
  opacity: 0;
  height: 100vh;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.3);
}
nav .donationButton {
  width: 102px;
  height: 42px;
}
@media (min-width: 1280px) {
  nav .donationButton {
    width: 125px;
    height: 100%;
  }
}
@media (min-width: 1280px) {
  nav .donationButton {
    width: 155px;
  }
}
nav .donationButton .hart {
  width: 10px;
  height: 9px;
}
@media (min-width: 1280px) {
  nav .donationButton .hart {
    width: 13px;
    height: 12px;
  }
}
nav .language {
  margin: 0 32px;
  display: none;
  cursor: pointer;
}
@media (min-width: 1280px) {
  nav .language {
    display: block;
    font-size: 16px;
    line-height: 21px;
  }
}
nav .links {
  position: fixed;
  width: 165px;
  height: 100vh;
  background: #0d1f2d;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: right;
  padding-top: 48px;
  padding-right: 55px;
  word-break: keep-all;
  white-space: nowrap;
  pointer-events: none;
  z-index: -2;
}
nav .links * {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
@media (min-width: 1280px) {
  nav .links {
    position: static;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: transparent;
    opacity: 1;
    visibility: visible;
    flex-direction: row;
    gap: 28px;
    color: inherit;
    padding: 0;
    margin: 0 30px;
    pointer-events: all;
    z-index: 1;
  }
}
nav .language,
nav .links a {
  transition: all 0.15s;
}
nav .language:hover,
nav .links a:hover {
  opacity: 0.8;
}
@media (min-width: 1280px) {
  nav .language:hover,
  nav .links a:hover {
    color: var(--hard-gray);
  }
}
nav a {
  margin-bottom: 30px;
}
nav a.active {
  color: var(--red);
}
nav a.active:hover {
  color: var(--dark-red);
}
@media (min-width: 1280px) {
  nav a {
    font-size: 16px;
    line-height: 21px;
    margin: 0;
  }
}
nav .language {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}
@media (min-width: 1280px) {
  nav .language {
    display: none;
  }
}
nav .donate {
  margin-bottom: 80px;
}
@media (min-width: 1280px) {
  nav .donate {
    margin-bottom: 0;
  }
}
nav .logo {
  margin: 13px 18px 19px;
}
@media (min-width: 1280px) {
  nav .logo {
    margin: -5px 24px 0;
  }
}
@media (min-width: 1280px) {
  nav .logo {
    margin: 14px 45px 24px 32px;
  }
}
nav .logo svg {
  width: 80px;
  height: 38px;
}
@media (min-width: 1280px) {
  nav .logo svg {
    width: 97px;
    height: 49px;
  }
}
nav .separator {
  height: 40px;
  width: 1px;
  margin: 15px 0;
  background: var(--red);
}
@media (min-width: 1280px) {
  nav .separator {
    height: 49px;
    margin: 19px 0;
  }
}
nav .separator.left {
  display: none;
}
@media (min-width: 1280px) {
  nav .separator.left {
    display: block;
  }
}
nav .separator.right {
  display: block;
}
@media (min-width: 1280px) {
  nav .separator.right {
    display: none;
  }
}

:root {
  --opacity-red: rgba(255, 18, 28, 0.9);
  --opacity-white: rgba(255, 255, 255, 0.9);
  --red: #ff121c;
  --dark-red: #e9111b;
  --light-red: #ffe7e8;
  --border-red: #ffe1e2;
  --hard-gray: #0d1f2d;
  --regular-gray: #607e82;
  --light-gray: #bbcdcf;
  --white: #ffffff;
  --black: #000000;
  --side-space: 15px;
  --section-space: 45px;
}
@media (min-width: 768px) {
  :root {
    --side-space: 20px;
    --section-space: 76px;
  }
}
@media (min-width: 1280px) {
  :root {
    --side-space: 28px;
  }
}
@media (min-width: 1280px) {
  :root {
    --side-space: auto;
  }
}

@media (min-width: 1280px) {
  .m-to-d-l {
    display: none;
  }
}

.d-l-grid {
  display: none;
}
@media (min-width: 1280px) {
  .d-l-grid {
    display: grid;
  }
}

.red-button {
  height: 54px;
  background-color: var(--red);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  width: 180px;
}
.red-button:hover {
  background-color: var(--dark-red);
}
.red-button.regular {
  width: 218px;
}

footer {
  height: 441px;
  width: 100%;
  background: #0d1f2d;
  font-size: 14px;
  line-height: 18px;
  padding: 50px 32px 28px;
}
@media (min-width: 1280px) {
  footer {
    padding: 56px var(--side-space) 34px;
    height: 275px;
  }
}
@media (min-width: 1280px) {
  footer {
    padding: 56px 0 34px;
  }
}
footer .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 1280px) {
  footer .wrapper {
    max-width: 1240px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  footer .wrapper {
    max-width: 1302px;
  }
}
footer .groupWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 44px;
}
@media (min-width: 1280px) {
  footer .groupWrapper {
    display: flex;
    gap: 76px;
  }
}
footer .groupWrapper .group {
  color: #ffffff;
}
footer .groupWrapper .group:nth-child(even) {
  text-align: end;
}
footer .groupWrapper .group * {
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 1280px) {
  footer .groupWrapper .group:nth-child(even) {
    text-align: start;
  }
  footer .groupWrapper .group:last-child {
    text-align: end;
  }
}
footer .groupWrapper .title {
  font-weight: 700;
  margin-bottom: 10px;
}
footer .groupWrapper a {
  display: block;
  margin-top: 6px;
  font-weight: 400;
}
footer .groupWrapper a:first-child {
  margin-top: 0;
}
footer .groupWrapper .group:last-child a {
  margin-top: 11px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 11px;
}
footer .groupWrapper .group:last-child a:first-child {
  margin-top: 1px;
}
@media (min-width: 1280px) {
  footer .groupWrapper .group:last-child {
    margin-right: auto;
  }
}
footer .protects {
  color: #bbcdcf;
  text-align: center;
  margin-top: auto;
}
@media (min-width: 1280px) {
  footer .protects {
    text-align: start;
  }
  footer .protects br {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */