.donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.donate:hover .hart {
  -webkit-animation: heartbeat 1.5s infinite;
          animation: heartbeat 1.5s infinite;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
