@import '../variables';

.form {
    max-width: 478px;
    padding: 50px 0;
    margin: 0 auto;

    @include desktop {
        margin: 0;
        // padding-top: 155px;
        padding: 6% 0 0;
    }

    .dropdown-button,
    input,
    textarea,
    .submit,
    ul {
        width: 100%;
        max-width: 478px;
        height: 54px;
        background: #FFFFFF;
        border: 2px solid #FFE1E2;
        border-radius: 1px;
        padding: 15px 20px 15px 21px;
        // margin-top: 10px;
        margin-top: 7px;
        font-family: 'Assistant';
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #607E82;
        transition: all .2s;

        @include desktop {
            font-size: 18px;
            line-height: 24px;
        }


        &:focus {
            outline: none;
            box-shadow: 0px 0px 8px 2px rgba(255, 225, 226, 0.7);
        }

        &:first-child {
            margin-top: 0;
        }
    }

    textarea {
        height: 165px;
        resize: none;
        display: flow-root;
    }

    .submit {
        font-weight: 700;
        letter-spacing: 0.08em;
        color: #FFFFFF;
        background: rgba(255, 18, 28, 0.9);
        border: 2px solid #FF121C;
        display: block;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @include desktop {
            font-size: 16px;
            line-height: 21px;
            width: 218px;
        }

        &.loading {
            cursor: wait;

            .text {
                display: none;
            }

            .loader {
                width: 18px;
                height: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                animation: spin 1s infinite forwards linear;

                &::after {
                    content: "";
                    width: 18px;
                    height: 9px;
                    border-top-left-radius: 100px;
                    border-top-right-radius: 100px;
                    border: 2px solid rgb(255, 255, 255);
                    border-bottom: 0;
                    box-sizing: border-box;
                    margin-bottom: auto;
                }
            }
        }

        &.submitted {
            cursor: none;
            pointer-events: none;

            .text {
                display: none;
            }

            .send {
                stroke-dashoffset: 0;
            }
        }

        .send {
            cursor: pointer;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.2s ease 0.2s;
            width: 16px;
        }

        @keyframes spin {
            from {
                transform: rotate(45deg);
            }

            to {
                transform: rotate(405deg);
            }
        }
    }

    .dropdown {
        position: relative;
        z-index: 2;
        // margin-bottom: 5px;
        // overflow: hidden;

        &.active {
            box-shadow: 0px 0px 8px 2px rgba(255, 225, 226, 0.7);

            svg {
                -webkit-transform: rotate(-180deg);
                transform: rotate(-180deg);
            }

            ul {
                opacity: 1;
                height: 163px;
                pointer-events: auto;
                box-shadow: 0px 1px 1px rgba(58, 72, 80, 0.07),
                    0px 4px 12px rgba(176, 189, 197, 0.13),
                    0px 1px 4px rgba(176, 189, 197, 0.07);
                padding-top: 6px;
                padding-bottom: 10px;
                border: 2px solid #FFE1E2;
                border-top: 0px;

                @include desktop {
                    height: 178px;
                }
            }
        }

        svg,
        .dropdown-button,
        ul,
        li {
            transition: all 0.2s cubic-bezier(0.78, 0.18, 0.31, 1.08);
        }

        .dropdown-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 3;
            overflow: hidden;
        }

        ul {
            background: #ffffff;
            position: absolute;
            padding: 0 20px 0 21px;
            border: 0px;
            border: 2px solid #F7F7F7;
            border-top: 0px;
            margin: 0;
            pointer-events: none;
            z-index: 2;
            left: 0;
            // bottom: -2px;
            top: 54px;
            width: 100%;
            height: 0;
            box-sizing: border-box;
            overflow: hidden;
        }

        li {
            list-style: none;
            padding: 4px 0;
            background: #ffffff;
            cursor: pointer;

            &:hover {
                color: #4d4d4d;
            }
        }
    }

    .err {
        font-size: 14px;
        color: #FF121C;
        margin: 3px 8px;
        margin-bottom: 0;
        display: inline-block;
        height: 0;
    }
}