@import '../variables';

.form {
    max-width: 478px;
    margin-top: 50px;

    @include desktop {
        margin-top: 75px;
    }

    select,
    input,
    textarea {
        width: 100%;
        max-width: 478px;
        height: 54px;
        background: #FFFFFF;
        border: 2px solid #FFE1E2;
        border-radius: 1px;
        padding: 15px 20px 15px 21px;
        margin-top: 10px;
        color: #607E82;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;

        @include desktop {
            font-size: 18px;
            line-height: 24px;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    .submit {
        font-weight: 700;
        letter-spacing: 0.08em;
        color: #FFFFFF;
        background: rgba(255, 18, 28, 0.9);
        border: 2px solid #FF121C;
        // opacity: 0.9;

        @include desktop {
            font-size: 16px;
            line-height: 21px;
            width: 218px;
        }
    }
}