@import '../variables';
@import './contact-us';
@import './form';

.contact-wrapper {
    background: #F7F7F7;
    padding: 0 $side-space;

    @include desktop {
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 198px;
    }
}