@import '../variables';

.about {
    text-align: center;
    margin: 50px 0;

    @include tablet-large {
        margin: 80px 0 -234px;
    }

    @include desktop() {
        margin-bottom: -278px;
    }

    .sub-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.08em;
        color: $red;

        @include tablet-large() {
            font-size: 16px;
            line-height: 21px;
        }
    }

    h2 {
        font-weight: 600;
        font-size: 28px;
        line-height: 37px;
        color: $hard-gray;
        margin: 12px 0 22px;

        @include tablet-large() {
            margin: 22px 0 30px;
            font-size: 32px;
            line-height: 42px;
        }
    }

    .info {
        margin: 0 auto 40px;
        padding: 0 $side-space;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: $regular-gray;
        max-width: 784px;

        br {
            display: none;
        }

        @include tablet-large() {
            // margin: 0 auto 56px;
            margin-bottom: 56px;
            font-size: 20px;
            padding: 0;

            br {
                display: block;
            }
        }
    }

    .ctas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 14px;
        color: white;
        padding: 0 $side-space;

        @include tablet-large() {
            gap: 30px;
            padding: 0;
            flex-direction: row;
        }

        .cta {
            background: lightblue;
            width: 100%;
            height: 257px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            position: relative;

            @include tablet-large() {
                width: 478px;
                height: 440px;
            }

            @include desktop() {
                width: 580px;
                height: 532px;
            }

            &:hover {
                .cta-img {
                    // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
                    // filter: drop-shadow(2px 4px 6px black);
                    transform: scale(1.02);
                    // filter: brightness(0.8);
                }

                .more-info {
                    background: white;
                    color: black;
                }
            }
        }

        .cta-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;
        }

        .text {
            position: absolute;
            top: 0;
            z-index: 2;

            @include tablet-large() {
                top: unset;
            }
        }

        .title {
            margin: 113px 0 23px;
            font-weight: 600;
            font-size: 24px;
            line-height: 31px;

            @include tablet-large() {
                font-size: 32px;
                line-height: 42px;
            }
        }

        .more-info {
            width: 110px;
            height: 50px;
            border: 2px solid white;
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            transition: all .2s;
            // will-change: background, color;
            letter-spacing: 0.08em;
            margin: auto;
            @include flex-center;

            @include tablet-large() {
                height: 54px;
            }
        }
    }

}