@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
:root {
  --side-space: 15px;
}

@media (min-width: 768px) {
  :root {
    --side-space: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --side-space: 28px;
  }
}

@media (min-width: 1280px) {
  :root {
    --side-space: auto;
  }
}

@media (min-width: 1024px) {
  .m-to-d-l {
    display: none;
  }
}

.d-l-grid {
  display: none;
}

@media (min-width: 1024px) {
  .d-l-grid {
    display: -ms-grid;
    display: grid;
  }
}

.red-button {
  height: 54px;
  background-color: #FF121C;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  width: 180px;
}

.red-button:hover {
  background-color: #E9111B;
}

.red-button.regular {
  width: 218px;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  line-height: 1;
  font-family: 'Assistant', sans-serif;
}

body {
  line-height: 1;
  font-family: 'Assistant', sans-serif;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer,
header,
section {
  display: block;
}

nav ul {
  list-style: none;
}

img {
  background: #F7F7F7;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  background: transparent;
}

input,
select {
  vertical-align: middle;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

h1.header {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 22px;
}

@media (min-width: 1024px) {
  h1.header {
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 59px;
  }
}

.sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #607E82;
  max-width: 784px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .sub-title {
    font-size: 20px;
  }
}

.text-grid {
  max-width: 784px;
  margin: 0 auto;
}

.heb {
  direction: rtl;
}

.eng {
  direction: ltr;
}

.fill-page {
  position: absolute;
  inset: 0;
  top: 70px;
}

@media (min-width: 1280px) {
  .fill-page {
    top: 87px;
  }
}

@media (min-width: 1024px) {
  .fill-page {
    top: 77px;
  }
}

.fill-page ~ footer {
  position: absolute;
  bottom: 0;
}

@media (min-width: 1280px) {
  .desktop-fill-page {
    position: absolute;
    inset: 0;
    top: 87px;
  }
  .desktop-fill-page ~ footer {
    position: absolute;
    bottom: 0;
  }
}

.about {
  text-align: center;
  margin: 50px 0;
}

@media (min-width: 1024px) {
  .about {
    margin: 80px 0 -234px;
  }
}

@media (min-width: 1280px) {
  .about {
    margin-bottom: -278px;
  }
}

.about .small-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #FF121C;
}

@media (min-width: 1024px) {
  .about .small-title {
    font-size: 16px;
    line-height: 21px;
  }
}

.about h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
  color: #0D1F2D;
  margin: 12px 0 22px;
}

@media (min-width: 1024px) {
  .about h2 {
    margin: 22px 0 30px;
    font-size: 32px;
    line-height: 42px;
  }
}

.about .sub-title {
  margin-bottom: 40px;
  padding: 0 var(--side-space);
}

.about .sub-title br {
  display: none;
}

@media (min-width: 1024px) {
  .about .sub-title {
    margin-bottom: 56px;
    font-size: 20px;
    padding: 0;
  }
  .about .sub-title br {
    display: block;
  }
}

.about .ctas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  color: white;
  padding: 0 var(--side-space);
}

@media (min-width: 1024px) {
  .about .ctas {
    gap: 30px;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about .ctas .cta {
  background: lightblue;
  width: 100%;
  height: 257px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
}

@media (min-width: 1024px) {
  .about .ctas .cta {
    width: 478px;
    height: 440px;
  }
}

@media (min-width: 1280px) {
  .about .ctas .cta {
    width: 580px;
    height: 532px;
  }
}

.about .ctas .cta:hover .cta-img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.about .ctas .cta:hover .more-info {
  background: white;
  color: black;
}

.about .ctas .cta-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.about .ctas .text {
  position: absolute;
  top: 0;
  z-index: 2;
}

@media (min-width: 1024px) {
  .about .ctas .text {
    top: unset;
  }
}

.about .ctas .title {
  margin: 113px 0 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
}

@media (min-width: 1024px) {
  .about .ctas .title {
    font-size: 32px;
    line-height: 42px;
  }
}

.about .ctas .more-info {
  width: 110px;
  height: 50px;
  border: 2px solid white;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  -webkit-transition: all .2s;
  transition: all .2s;
  letter-spacing: 0.08em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .about .ctas .more-info {
    height: 54px;
  }
}

:root {
  --side-space: 15px;
}

@media (min-width: 768px) {
  :root {
    --side-space: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --side-space: 28px;
  }
}

@media (min-width: 1280px) {
  :root {
    --side-space: auto;
  }
}

@media (min-width: 1024px) {
  .m-to-d-l {
    display: none;
  }
}

.d-l-grid {
  display: none;
}

@media (min-width: 1024px) {
  .d-l-grid {
    display: -ms-grid;
    display: grid;
  }
}

.red-button {
  height: 54px;
  background-color: #FF121C;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  width: 180px;
}

.red-button:hover {
  background-color: #E9111B;
}

.red-button.regular {
  width: 218px;
}

.main-banner {
  color: white;
  position: relative;
}

.main-banner .banner {
  width: 100%;
  height: 433px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1024px) {
  .main-banner .banner {
    height: 590px;
  }
}

.main-banner .inner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 1024px) {
  .main-banner .inner-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

.main-banner h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

@media (min-width: 1024px) {
  .main-banner h1 {
    font-size: 45px;
    line-height: 49px;
  }
}

.main-banner .main-sub-title {
  margin: 10px 0 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: 1024px) {
  .main-banner .main-sub-title {
    margin: 12px 0 32px;
    font-size: 18px;
    line-height: 24px;
  }
  .main-banner .main-sub-title br {
    display: none;
  }
}

.main-banner .ctas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.main-banner .ctas a {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.08em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .main-banner .ctas a {
    height: 54px;
  }
}

.main-banner .donate-button {
  -webkit-transition: all .2s;
  transition: all .2s;
  background: rgba(255, 255, 255, 0.9);
  color: #000000;
}

.main-banner .donate-button:hover {
  background: white;
}

.main-banner .volunteer {
  -webkit-transition: all .2s;
  transition: all .2s;
  border: 2px solid rgba(255, 255, 255, 0.6) !important;
}

.main-banner .volunteer:hover {
  background: white;
  color: black;
}

:root {
  --side-space: 15px;
}

@media (min-width: 768px) {
  :root {
    --side-space: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --side-space: 28px;
  }
}

@media (min-width: 1280px) {
  :root {
    --side-space: auto;
  }
}

@media (min-width: 1024px) {
  .m-to-d-l {
    display: none;
  }
}

.d-l-grid {
  display: none;
}

@media (min-width: 1024px) {
  .d-l-grid {
    display: -ms-grid;
    display: grid;
  }
}

.red-button {
  height: 54px;
  background-color: #FF121C;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  width: 180px;
}

.red-button:hover {
  background-color: #E9111B;
}

.red-button.regular {
  width: 218px;
}

:root {
  --side-space: 15px;
}

@media (min-width: 768px) {
  :root {
    --side-space: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --side-space: 28px;
  }
}

@media (min-width: 1280px) {
  :root {
    --side-space: auto;
  }
}

@media (min-width: 1024px) {
  .m-to-d-l {
    display: none;
  }
}

.d-l-grid {
  display: none;
}

@media (min-width: 1024px) {
  .d-l-grid {
    display: -ms-grid;
    display: grid;
  }
}

.red-button {
  height: 54px;
  background-color: #FF121C;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  width: 180px;
}

.red-button:hover {
  background-color: #E9111B;
}

.red-button.regular {
  width: 218px;
}

.accordion {
  border-bottom: 1px solid #FFE1E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  margin: 4px 0;
  padding-bottom: 4px;
}

.accordion * {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.accordion:first-child {
  border-top: 1px solid #FFE1E2;
  padding-top: 4px;
}

.accordion:last-child {
  margin-bottom: 0;
}

.accordion .accordion-box {
  border-radius: 8px;
  padding: 16px 19px 16px 14px;
  background: #FFE7E8;
}

.accordion.collapsed .accordion-box {
  border-radius: 0;
  background: transparent;
  margin-bottom: 0;
}

.accordion.collapsed .answer {
  opacity: 0;
  visibility: hidden;
  margin: 0;
}

.accordion.collapsed .strip {
  padding-bottom: 0;
}

.accordion.collapsed .plus {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
}

.accordion .see-more {
  width: 11px;
  height: 11px;
}

@media (min-width: 768px) {
  .accordion .see-more {
    width: 13px;
    height: 13px;
  }
}

.accordion .plus {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.accordion .strip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 17px;
}

@media (min-width: 1024px) {
  .accordion .strip {
    padding-bottom: 27px;
  }
}

.accordion .question {
  color: #0D1F2D;
  max-width: 740px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.accordion .answer {
  color: #607E82;
  max-width: 740px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  height: auto;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  max-height: 999px;
}

.faq {
  padding-bottom: 40px;
  padding: 0 var(--side-space) 40px;
}

@media (min-width: 1024px) {
  .faq {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16.62%, #F7F7F7), to(rgba(247, 247, 247, 0)));
    background: linear-gradient(180deg, #F7F7F7 16.62%, rgba(247, 247, 247, 0) 100%);
    padding: 314px 0 75px;
  }
}

@media (min-width: 1280px) {
  .faq {
    padding-top: 358px;
  }
}

.faq .content-wrapper {
  margin: 0 auto;
  max-width: 986px;
}

.faq h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
  color: #0D1F2D;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .faq h3 {
    margin-bottom: 56px;
    font-size: 32px;
    line-height: 42px;
  }
}
