@import '../variables';

.about-footer {
    background: #F7F7F7;
    padding: 40px $side-space;

    @include tablet-large {
        padding: 87px $side-space;
    }

    @include desktop {
        padding: 87px 0;
    }

    .images-wrapper {
        display: flex;
        justify-content: center;

        .person:last-child {
            margin-right: -25px;
            border: 3px solid #F7F7F7;
        }
    }

    .person {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        box-sizing: content-box; // ????

        @include tablet-large {
            width: 125px;
            height: 125px;
        }

        @include desktop {
            width: 138px;
            height: 138px;
        }
    }

    .title {
        margin: 20px 0 12px;
        font-weight: 600;
        font-size: 28px;
        line-height: 150%;
        text-align: center;
        color: #000000;

        @include tablet-large() {
            margin: 0 0 16px;
            font-weight: 700;
            font-size: 28px;
            text-align: start;
        }

        @include desktop {
            margin-bottom: 22px;
            font-size: 32px;
        }
    }

    .info {
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        text-align: center;
        color: #607E82;

        @include tablet-large() {
            text-align: right;
        }
    }

    .box {
        display: flex;
        gap: 30px;
        max-width: 562px;

        @include desktop {
            gap: 36px;
        }
    }

    .d-l-grid {
        gap: 35px;
        justify-content: center;
        grid-template-columns: auto auto;

        @include desktop {
            gap: 50px;
        }
    }
}