@import "../../styles/variables";

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  // max-width: 100vw;
  color: var(--regular-gray);
  background: #fffffff2 !important;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  // overflow: hidden;
  filter: drop-shadow(0px 4px 10px rgba(13, 31, 45, 0.08));

  @include tablet-large() {
    height: 77px;
  }

  @include desktop() {
    height: 87px;
  }

  .left,
  .right {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .burger-bar {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 22px;
    margin-right: 26px;
    transition: all 0.15s 0.2s;

    .line {
      width: 21px;
      height: 2px;
      background-color: #0d1f2d;
    }

    @include tablet-large() {
      display: none;
    }
  }

  &.open {
    // overflow: visible;

    .links {
      right: 0;
      z-index: 11;
      width: 285px;
      pointer-events: all;
    }

    .background-side-nav {
      z-index: 10;
    }

    .links,
    .background-side-nav {
      opacity: 1;
      visibility: visible;
      // transition: all .3s cubic-bezier(0.05, 0.61, 0.41, 0.95);
      transition: all 0.3s 0.2s;
      // height: 100vh;
      z-index: 1111;
    }

    .burger-bar {
      gap: 5px;
      transition: all 0.15s;
    }
  }

  .background-side-nav {
    position: fixed;
    inset: 0;
    opacity: 0;
    height: 100vh;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.3);
  }

  .button {
    width: 102px !important;
    height: 42px !important;

    @include tablet-large {
      width: 125px !important;
      height: 100% !important;
    }

    @include desktop {
      width: 155px !important;
    }

    .hart {
      width: 10px !important;
      height: 9px !important;

      @include tablet-large() {
        width: 13px !important;
        height: 12px !important;
      }
    }
  }

  .language {
    margin-left: 32px;
    display: none;

    @include tablet-large() {
      display: block;
      font-size: 16px;
      line-height: 21px;
    }
  }

  .links {
    position: fixed;
    width: 165px;
    height: 100vh;
    background: #0d1f2d;
    top: 0;
    bottom: 0;
    // right: -120px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    // transition: all .2s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    color: #ffffff;
    text-align: right;
    padding-top: 48px;
    padding-right: 55px;
    word-break: keep-all;
    white-space: nowrap;
    pointer-events: none;
    z-index: -2;

    * {
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
    }

    a {
      margin-bottom: 30px;

      &.active {
        color: var(--red);

        &:hover {
          color: var(--dark-red);
        }
      }
    }

    .language {
      width: fit-content;
      display: block;
    }

    .donate {
      margin-bottom: 80px;
    }

    @include tablet-large() {
      position: static;
      width: fit-content;
      height: fit-content;
      background: transparent;
      opacity: 1;
      visibility: visible;
      display: block;
      color: inherit;
      padding: 0;
      pointer-events: all;
      z-index: 1;

      .language {
        display: none;
      }

      a {
        font-size: 16px;
        line-height: 21px;
        margin: 0;
        margin-right: 28px;
      }

      a:first-child {
        margin-right: 30px;
      }

      .donate {
        margin-bottom: 0;
      }
    }
  }

  .language,
  .links a {
    transition: all 0.15s;

    &:hover {
      opacity: 0.8;

      @include tablet-large() {
        color: var(--hard-gray);
      }
    }
  }

  .logo {
    margin: 13px 18px 19px;

    @include tablet-large() {
      margin: -5px 24px 0;
    }

    @include desktop() {
      margin: 14px 45px 24px 32px;
    }

    & svg {
      width: 80px;
      height: 38px;

      @include tablet-large() {
        width: 97px;
        height: 49px;
      }
    }
  }

  .separator {
    height: 40px;
    width: 1px;
    margin: 15px 0;
    background: var(--red);

    @include tablet-large() {
      height: 49px;
      margin: 19px 0;
    }

    &.left {
      display: none;

      @include tablet-large() {
        display: block;
      }
    }

    &.right {
      display: block;

      @include tablet-large() {
        display: none;
      }
    }
  }
}
