@import "../../styles/variables";

:global(:root) {
  --transition-time: 0.3s;
}

.accordion {
  border-bottom: 1px solid var(--border-red);
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  margin: 4px 0;
  padding-bottom: 4px;

  & * {
    transition: all var(--transition-time) ease-in-out;
  }

  &:first-child {
    border-top: 1px solid var(--border-red);
    padding-top: 4px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .accordionBox {
    border-radius: 8px;
    padding: 16px 19px 16px 14px;
    background: var(--light-red);
  }

  &.collapsed {
    // margin: 0;

    .accordionBox {
      border-radius: 0;
      background: transparent;
      margin-bottom: 0;
    }

    .answer {
      opacity: 0;
      visibility: hidden;
      margin: 0;
    }

    .strip {
      padding-bottom: 0;
    }

    .plus {
      transform: rotate(0deg);
      opacity: 1;
    }
  }

  .seeMore {
    width: 11px;
    height: 11px;

    @include tablet() {
      width: 13px;
      height: 13px;
    }
  }

  .plus {
    transform: rotate(90deg);
    opacity: 0;
    transform-origin: center;
  }

  .strip {
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;

    @include tablet-l() {
      padding-bottom: 27px;
    }
  }

  .question {
    color: var(--hard-gray);
    max-width: 740px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }

  .answerWrapper {
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .answer {
    color: var(--regular-gray);
    max-width: 740px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    height: auto;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    max-height: 999px;
  }
}
